body {
    background-image: url("image/search_background.jpg");
    background-size: cover;
  }

.no-scroll {
    overflow: hidden;
  }
  
#music {
      margin: 0px;
      position: absolute;
      left: 100px;
      font-family: 'Rock Salt', cursive;
      color: #FFD700;
  }
  
#far {
    margin: 0px;
    font-family: 'Rock Salt', cursive;
    color: #FFD700;
}
  
nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
  
input[type=text] {
    border-radius: 20px;
    width: 500px;
    height: 30px;
    padding: 3px;
}
  

input[value=Cerca] {
    border-radius: 20px;
    padding: 3px;
    position: relative;
    left: 20px;
}
  
a {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: 150px;
    color: #FFD700;
    text-decoration: none;
}
  
#boxUtenti {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.boxUtente {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.boxUtente .immagine {
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.boxUtente .nomeUtente {
    font-family: 'Dosis', sans-serif;
    font-size: large;
    font-weight: bold;
    color: #FFD700;
}

.boxUtente .buttonBox input[type=submit] {
    border-radius: 20px;
    padding: 3px;
    width: 100px;
}
  
  
 
  


